/*==========  Desktop First Method  ==========*/
@import "../libs/sass-mediaqueries/media-queries"
@import '_variables'


//height
//


@include max-screen-height (900px)
	.review .container
		.block-for-slider
			.select-img
				width: 311px
				top: 650px
				margin-left: -220px
				.slick-slide
					img
						margin: 0
		.viewport
			.slick-prev, .slick-next
				top: 760px
			.slick-dots 
				top: 750px
	section.coaches .coaches_sld
		margin-top: 0 !important
	section.coaches .coaches_sld
		h4
			margin-bottom: 0 !important
		p
			margin-top: 1% !important
		.slick-next
			top: 204px
		.slick-prev
			top: 204px
		.slick-dots 
			top: 195px

@include max-screen-height (820px)

	//section_coaches
	section.coaches .show p.text
		width: 50%
	section.coaches .show .button
		left: 36vw !important
	
	//sectino_advance
	.advance .container
		.slide_search
			.window
				margin-top: 110px
				width: 80%
				h5
					font-size: 36px
					margin: 0% 0
				.slick-prev, .slick-next
					top: 350px
			form
				input
					margin-left: 80px
		.ab
			.back_link_wave
				top: 100px
			.link
				font-size: 22px
				.style2
					top: -195px
				.style5
					bottom: 223px
					left: 295px

@include max-screen-height (769px)

	//section_how_word
	.how_work
		.section_how .container
			.text_bottom
				margin-top: -25%
				left: 42vw


//width
@include max-screen (1840px)


@include max-screen (1367px)
	//sectino_advance
	.advance .container
		.slide_search
			.window
				margin-top: 110px
				width: 350px
				h5
					font-size: 32px
					margin: 0% 0
				.slick-prev, .slick-next
					top: 370px
			form
				input
					width: 300px
					margin-left: 60px
				.shape
					right: 33vw
					margin-right: -360px
		.ab
			.back_link_wave
				.link
					font-size: 22px
					.style2
						top: -195px
					.style5
						bottom: 223px
						left: 295px


@include max-screen(1225px)
	nav.menu
		nav.menu_item
			ul
				display: none
		.popup
			display: inline-block !important
		.button_item
			display: none
	.back_img
		.meditation, .execut, .fear, .breathe, .health, .focus, .breathe_2, .leader
			font-size: 12px 

	//section_how_work
	.how_work
		.section_how .container
			.number
				font-size: 64px

	//section_review
	.review 
		.white
			height: 550px !important
	.review .container
		.block-for-slider
			.slidewrapper
				.slide
					margin-top: 5%
					.slide_img
						img
							width: 40%
							left: 62%
							bottom: 470px
					.about_txt
						width: 33vw
					.number
						font-size: 82px
						left: 60%
						top: 10px
			.select-img
				top: 570px
				margin-left: -140px
			.viewport
				.slick-prev, .slick-next
					top: 690px
				.slick-prev
					margin-left: -60px
				.slick-next
					margin-left: 100px
				.slick-dots 
					top: 680px
					margin-left: -30px
	//section_advance
	.advance
		.container
				.social
					left: 10%
					i
						padding: 0 25px

	//blog 
	header.head .container
		article.text_column_3
			h1
				font-size: 62px


@include max-screen(1025px)

	//section_how_work
	.how_work
		.section_how .container
			.number
				font-size: 42px
				bottom: 63px
			.how_icon
				font-size: 18px
				line-height: 10px
				p
					line-height: 0px
			.text
				font-size: 16px
			
			figure
				img
					bottom: 30px
				.text_bottom
					left: 31vw
					bottom: 350px
					margin-top: 39vh
					h3
						font-size: 22px
					.tx
						margin-top: 1%
					.some
						top: 44px
				p
					width: 100%
					line-height: 20px

	//title_txt
	.container .row .title_txt
		h2
			font-size: 54px 
		p
			font-size: 22px


	//section_advance
	.advance
		.text_advance
			display: none 
	.advance
		footer
			bottom: 23px !important
			.container
				.social
					left: 10%
					i
						padding: 0 20px
	.advance .container
		.ab
			.back_link_wave
				.link
					font-size: 16px
					.style0
						left: 70px
					.style1
						left: 20px
					.style2
						top: -155px
					.style5
						bottom: 173px
						left: 245px

@include max-screen(992px)
	//section_andvance
	.advance .container
		.slide_search
			.window
				left: 50%
				margin-top: 70px
			form
				input
					margin-left: 180px
				.shape
					margin-right: -470px

	.advance .title_advance
		top: 3% !important
		left: 95vw !important
	.advance
		footer
			z-index: -2 !important

	//section_coaches
	section.coaches .coaches_sld
		.slick-next
			left: 70vw
			top: 74px
		.slick-prev
			left: -50px
			top: 74px
		.slick-dots 
			left: 226px

	//blog
	header.head .container
		article.text_column_3
			h1
				font-size: 42px
	footer.footer_blog .container
		.social
			margin-left: 0
		.link
			margin-right: 0
			position: relative
			right: 5vw
			text-align: left

@include max-screen(900px)
	.container .title_txt
		h2
			font-size: 32px
			line-height: 33px
			margin-top: 7%
		p
			font-size: 22px

	//section_how_work
	.how_work
		.section_how .container
			.number
				bottom: 0
				left: 33vw
	//section_coaches
	.coaches .title_txt
		h2
			font-size: 32px
			line-height: 33px
			margin-top: 7%
		p
			font-size: 22px
	section.coaches .show .button
		left: 41vw !important

		

	//section_advance
	.advance .container
		.column_one
			left: 36%
		.slide_search
			.window
			form
				input
					margin-left: 170px
	.advance .title_advance
		top: 3% !important
	section.advance
		.back_link_wave
			display: none
	section.advance
		.title_advance
			font-size: 28px
			left: 400px !important
			margin: 0 !important
			top: 35px !important
		footer
			.border_top
				display: none
			footer
			.container
				.social
					left: 10%
					i
						padding: 0 10px

@include max-screen(820px)


@include max-screen(768px)
	body
		overflow-x: hidden !important
	//section_head
	.main
		section.head
			height: 100vh !important
			.back_img
				.wave
					.wave_1
						top: 300px
					.wave_2
						top: 400px
					.wave_3
						top: 500px
	//title_txt
	.container .row .title_txt
		left: 14vw
		h2
			font-size: 32px 
		p
			font-size: 18px
	//section_how_work
	.how_work
		.section_how
			height: 100% !important
			background-size: contain !important
	.how_work
		.section_how .container
			.how_icon
				display: inline-flex
				left: 0
				margin-top: 10px
			.privat_chat, .secure_mess, .ease_shedul
				padding: 0 7%
				p
					margin-top: 15%
			.privat_chat
				margin-top: 0
			.secure_mess
				margin-top: 0
				top: 0
			.ease_shedul
				margin-top: -10px
				top: 0
				p
					margin-top: 17%
			figure
				margin-top: 0
				.text
					position: relative
					left: 63vw
					top: 8vh
				img
					bottom: 80px
				img.secure
					width: 59%
				.number
					bottom: 22px
					left: 49vw
				.text_bottom
					width: 100%
					left: 0
					bottom: 134px
					margin-top: 0
					.tx
						br
							display: none
					.some
						top: 0px
						right: 22%
				.slick-next
					left: 73%
				.slick-prev
					left: 62%

	//section_reviews
	.main
		.review
			background-color: $white
	.review .container
		.title_txt
			bottom: 47px
		.block-for-slider
			bottom: 104px
			height: 100%
			.slidewrapper
				.slide
					.slide_img
						img
							margin-top: 0vh
							bottom: 100px
							position: absolute
					.about_txt
						h3
							font-size: 22px
					.side
						h4
							font-size: 18px
			.select-img
				margin-top: 0
				top: 374px
			.viewport
				.slick-prev, .slick-next
					top: 590px
				.slick-prev
					margin-left: -60px
				.slick-next
					margin-left: 100px
	//section_coaches
	.main
		section.coaches
			.coaches_sld
				.slick-dots 
					top: 240px
					left: 130px
				.slick-prev
					top: 250px
					left: 80px
				.slick-next
					top: 250px
					left: 340px
			.show
				position: relative
				margin-top: 180px
				.button
					position: relative
					margin: 0 auto
				.text
					left: 0
					width: 70%
					margin-top: 20px
			.border_bottom
				position: relative
				left: 0
				width: 70%
				margin: 0 auto
	section.coaches
		height: 100% !important
	//section: advance
	.advance .container
		.column_one
			left: 26%
		.slide_search
			.window
				margin-top: 100px
				left: 50vw
				margin-left: -280px
			form
				input
					left: 50vw
					margin-left: -250px
				.shape
					left: 50vw
					margin-left: 10px
	section.advance
		.title_advance
			left: 240px !important
	.advance
		footer .container
			.social
				margin-top: 22px !important
				i
					padding: 0 4px !important
			.link_email
				margin-top: 22px !important
			.row
				.col-4:nth-child(2)
					display: none !important
	
	//blog
	header.head .container
		article.text_column_3
			top: 100px
			margin-top: 0
		.column_2
			top: 150px
			left: 10%
		.social
			position: absolute
			top: 38vh
			margin-top: 320px
			left: 5%
			width: 100%
			&:after
				display: none
		.rank
			position: absolute
			top: 38vh
			left: 30%
			margin-top: 350px
	footer.footer_blog .container
		.table-none
			display: none
		.social
			margin-left: 18%
		.link
			margin-left: 20%

@include max-screen(700px)

	//section_reveiws
	.review .container
		.title_txt
			bottom: 47px
		.block-for-slider
			.select-img
				margin-top: 0
				top: 404px
			.viewport
				.slick-prev, .slick-next
					top: 590px
				.slick-prev
					margin-left: -60px
				.slick-next
					margin-left: 100px

	//sectin_how_work
	.how_work
		.section_how .container
			.how_icon
				font-size: 14px
				line-height: 1px
				p
					margin-top: 10%
				.privat_chat, .secure_mess, .ease_shedul
					line-height: 10px
				.ease_shedul
					p
						margin-top: 15%
			figure
				.text
					left: 56vw
					top: 89px
				.text_bottom
					bottom: 150px
					width: 80%
					margin: 0 auto
					.some
						top: -15px
						right: 33%
				.number
					left: 71vw
				img.cal
					width: 67%
				img
					width: 75%
				img.secure
					width: 75%

	.back_img
		.meditation, .execut, .fear, .breathe, .health, .focus, .breathe_2, .leader
			font-size: 8px
	section.head .container .row .head_txt
		margin: 0 auto
		width: 100%
		text-align: center
		img
			margin-top: 10%
		h1
			width: 100%
			font-size: 42px
			color: $black_txt
		p
			width: 70%
			margin: 5% auto
			color: $black_txt
	nav.menu
		.mobile_menu
			.close_btn
				top: 20px
				right: 0px


	.advance .title_advance
		font-size: 18px !important

	//blog
	footer.footer_blog .container
		.link
			margin-left: 12%
	
@include max-screen(550px)

	//section_reveiws
	.review .container
		.title_txt
			bottom: 47px
		.block-for-slider
			.select-img
				margin-top: 0
				top: 434px
			.slidewrapper .slide .side
				left: -77px
				width: 37%
				top: 228px
			.viewport
				.slick-prev, .slick-next
					top: 590px
				.slick-prev
					margin-left: -60px
				.slick-next
					margin-left: 100px
	//
	.advance footer .container
		.link_email
			left: -29%
	//coaches
	.coaches .title_txt
		h2
			font-size: 32px
			line-height: 33px
			margin-top: 23%
		p
			font-size: 22px
	section.head .container .row .head_txt
		h1
			font-size: 36px
		.button
			margin-top: 0px
	.menu .container
		.popup
			left: 65% 
	.main section.coaches .show .button
		left: 25vw !important

	//sectin_how_work
	.how_work
		.section_how .container
			figure
				.text
					left: 35px
					top: 229px
				.text_bottom
					bottom: 0px
					width: 80%
					margin: 0 auto
					p.some
						display: none
				.number
					left: 71vw
	//section_advance
	.advance .container
		.column_one
			display: none
	.advance .container
		.slide_search
			.window
				position: relative
				top: 40px
				margin-left: -352px
	.advance .container .slide_search
		form
			input
				bottom: -60px
				margin-left: -323px
			.shape
				margin-left: -60px
				position: absolute
				bottom: -40px
				z-index: 1000
	.advance .title_advance
		top: 8% !important

	//blog
	header.head
		background-image: none !important
		.background_head
			background-size: cover !important
	header.head .container
		article.text_column_3
			h1
				font-size: 48px
				width: 100vw
				position: relative
				right: 60px
	footer.footer_blog .container
		.social
			margin-left: 15%
			i
				padding-right: 5%
		.link
			margin-left: 0%
			margin-right: 50%
			position: relative
			span
				padding-right: 15%
@include max-screen(479px)
	section.head .container .row .head_txt
		h1
			font-size: 32px
			margin-top: 2%
		img
			margin-top: 15%
			width: 60%

	//section_reveiws
	.review .container
		.title_txt
			bottom: 47px
		.block-for-slider
			.select-img
				margin-top: 0
				top: 404px
				margin-left: -90px
			.slidewrapper .slide .side
				left: -77px
				width: 37%
				top: 228px
			.slidewrapper .slide .about_txt
				width: 70vw
			.slidewrapper .slide .slide_img img
				display: none
			.viewport
				.slick-prev, .slick-next
					top: 580px
				.slick-prev
					margin-left: 0px
				.slick-next
					margin-left: 100px
	//advance

	.advance .container
	 	.slide_search
	 		.window
	 			margin-left: -183px
			form
				input
					bottom: -60px
					margin-left: -159px !important
				.shape
					margin-left: 100px !important
					position: absolute
					bottom: -40px
					z-index: 1000
	section.advance .title_advance
		left: 156px !important
	//blog
	//
	header.head
		padding-bottom: 10px !important
	header.head .container
		.social
			display: none
		.rank
			top: 40vh
			margin-top: 200px
			padding-top: 30vw
			margin-left: 20%
			.bgc_number
				position: relative
				font-size: 82px
			.check_rank
				position: absolute
				left: 200%
				top: 20px
				margin-top: 30vw
		.column_2
			margin-top: 30%
			left: 0
			top: 0
			margin-left: 5%
			h2
				display: block
				margin-bottom: 5%
			.coaches
				display: none			
		article.text_column_3
			left: 0
			top: 0
			position: relative
			margin-left: 5%
			margin-right: 5%
			margin-top: 200px
			p.about
				width: 100%
				margin-top: 0
				&:before
					display: none
				.side_logo
					transform: rotate(0deg) 
					left: 0
					top: -80px
					&:before
						display: none
			&:after
				display: none
			h1
				display: none
			.social
				display: block
		.phone-none
			display: none
	section.blog
		h2
			font-size: 48px !important
			margin-left: 7%
			left: 0 !important
		.section_first
			width: 100% !important
			.recent
				h3
					display: none
				article.blog_txt
					padding: 8% 0
					margin: 0 5%
					.info_data
						display: block
						margin: 0
						height: 50px
					h4
						font-size: 18px
						line-height: 32px
						margin-top: 2%
					p
						font-size: 14px
						line-height: 32px
					a.read_more
						display: none
		.phone_none
			display: none
		.side_bar.phone_none
			display: none
		.button_red.button_post_none
			display: none

	footer.footer_blog .container
		.social
			margin-left: 8%
			i
				padding-right: 15%
		.link
			margin-left: 10%
			margin-right: 0
			position: relative
			margin-top: -15%
			span
				padding-right: 15%

	//sectin_how_work
	.how_work
		.section_how .container
			figure
				.text
					left: 35px
					top: 169px
				.text_bottom
					bottom: 0px
					width: 80%
					margin: 0 auto
					p.some
						display: none
				.number
					left: 71vw



@include max-screen(487px)
	.main section.coaches .coaches_sld 
		.slick-next
			left: 150px


@include max-screen(400px)

	

@include max-screen(360px)


	//blog
	footer.footer_blog .container
		.social
			margin-left: 7%
			i
				padding-right: 10%
		.link
			margin-left: 8%
			position: relative
			margin-top: -15%
			span
				padding-right: 10%
	

@include max-screen(320px)
	section.head .container .row .head_txt
		span
			font-size: 12px
		.button
			padding: 12px 32px
	//blog
	
	footer.footer_blog .container
		.social
			margin-left: 7%
			margin-top: 60px
			i
				padding-right: 3%
		.link
			margin-left: 8%
			position: relative
			margin-top: -22%
			span
				padding-right: 3%
	header.head .container
		article.text_column_3
			.rank
				.check_rank
					position: absolute
					right: 20%
					top: 10%



@include min-screen(320px)
@include min-screen(480px)

@include min-screen(768px)

@include min-screen(992px)

@include min-screen(1200px)





