/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1225px) {
  nav.menu {
    overflow: hidden; }
    nav.menu nav.menu_item ul {
      display: none; }
    nav.menu .popup {
      display: inline-block !important; }
    nav.menu .button_item {
      display: none; }
  header.head .container article.text_column_3 h1 {
    font-size: 62px; } }

@media only screen and (max-width: 992px) {
  header.head .container article.text_column_3 h1 {
    font-size: 42px; }
  footer .container .social {
    margin-left: 0; }
  footer .container .link {
    margin-right: 0;
    position: relative;
    right: 5vw;
    text-align: left; } }

@media only screen and (max-width: 768px) {
  header.head .container article.text_column_3 {
    top: 100px;
    margin-top: 0; }
  header.head .container .column_2 {
    top: 150px;
    left: 10%; }
  header.head .container .social {
    position: absolute;
    top: 38vh;
    margin-top: 320px;
    left: 5%;
    width: 100%; }
    header.head .container .social:after {
      display: none; }
  header.head .container .rank {
    position: absolute;
    top: 38vh;
    left: 30%;
    margin-top: 350px; }
  footer .container .table-none {
    display: none; }
  footer .container .social {
    margin-left: 18%; }
  footer .container .link {
    margin-left: 20%; } }

@media only screen and (max-width: 700px) {
  footer .container .link {
    margin-left: 12%; } }

@media only screen and (max-width: 550px) {
  header.head {
    background-image: none !important; }
    header.head .background_head {
      background-size: cover !important; }
  header.head .container article.text_column_3 h1 {
    font-size: 48px;
    width: 100vw;
    position: relative;
    right: 60px; }
  footer .container .social {
    margin-left: 15%; }
    footer .container .social i {
      padding-right: 5%; }
  footer .container .link {
    margin-left: 0%;
    margin-right: 50%;
    position: relative; }
    footer .container .link span {
      padding-right: 15%; } }

@media only screen and (max-width: 479px) {
  header.head {
    padding-bottom: 10px !important; }
  header.head .container .social {
    display: none; }
  header.head .container .rank {
    top: 40vh;
    margin-top: 200px;
    padding-top: 30vw;
    margin-left: 20%; }
    header.head .container .rank .bgc_number {
      position: relative;
      font-size: 82px; }
    header.head .container .rank .check_rank {
      position: absolute;
      left: 200%;
      top: 20px;
      margin-top: 30vw; }
  header.head .container .column_2 {
    margin-top: 30%;
    left: 0;
    top: 0;
    margin-left: 5%; }
    header.head .container .column_2 h2 {
      display: block;
      margin-bottom: 5%; }
    header.head .container .column_2 .coaches {
      display: none; }
  header.head .container article.text_column_3 {
    left: 0;
    top: 0;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 200px; }
    header.head .container article.text_column_3 p.about {
      width: 100%;
      margin-top: 0; }
      header.head .container article.text_column_3 p.about:before {
        display: none; }
      header.head .container article.text_column_3 p.about .side_logo {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        left: 0;
        top: -80px; }
        header.head .container article.text_column_3 p.about .side_logo:before {
          display: none; }
    header.head .container article.text_column_3:after {
      display: none; }
    header.head .container article.text_column_3 h1 {
      display: none; }
    header.head .container article.text_column_3 .social {
      display: block; }
  header.head .container .phone-none {
    display: none; }
  section.blog h2 {
    font-size: 48px !important;
    margin-left: 7%;
    left: 0 !important; }
  section.blog .section_first {
    width: 100% !important; }
    section.blog .section_first .recent h3 {
      display: none; }
    section.blog .section_first .recent article.blog_txt {
      padding: 8% 0;
      margin: 0 5%; }
      section.blog .section_first .recent article.blog_txt .info_data {
        display: block;
        margin: 0;
        height: 50px; }
      section.blog .section_first .recent article.blog_txt h4 {
        font-size: 18px;
        line-height: 32px;
        margin-top: 2%; }
      section.blog .section_first .recent article.blog_txt p {
        font-size: 14px;
        line-height: 32px; }
      section.blog .section_first .recent article.blog_txt a.read_more {
        display: none; }
  section.blog .phone_none {
    display: none; }
  section.blog .side_bar.phone_none {
    display: none; }
  section.blog .button_red.button_post_none {
    display: none; }
  footer .container .social {
    margin-left: 8%; }
    footer .container .social i {
      padding-right: 15%; }
  footer .container .link {
    margin-left: 10%;
    margin-right: 0;
    position: relative;
    margin-top: -15%; }
    footer .container .link span {
      padding-right: 15%; } }

@media only screen and (max-width: 360px) {
  footer .container .social {
    margin-left: 7%; }
    footer .container .social i {
      padding-right: 10%; }
  footer .container .link {
    margin-left: 8%;
    position: relative;
    margin-top: -15%; }
    footer .container .link span {
      padding-right: 10%; } }

@media only screen and (max-width: 320px) {
  footer .container .social {
    margin-left: 7%;
    margin-top: 60px; }
    footer .container .social i {
      padding-right: 3%; }
  footer .container .link {
    margin-left: 8%;
    position: relative;
    margin-top: -22%; }
    footer .container .link span {
      padding-right: 3%; }
  header.head .container article.text_column_3 .rank .check_rank {
    position: absolute;
    right: 20%;
    top: 10%; } }
