head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title #{title}
		link(href='libs/slick-1.6.0/slick/slick.css', rel='stylesheet')
		link(href='libs/slick-1.6.0/slick/slick-theme.css', rel='stylesheet')
		link(href='libs/onepage-scroll/onepage-scroll.css', rel='stylesheet')
		link(href='libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='style/media.css', rel='stylesheet')
		link(href='style/main.css', rel='stylesheet')



