body
	nav.menu
		.mobile_menu
			a(href="#").aware Aware
				span  Now
			+nav_menu(menu)
			.button.sign
				i.arrow
				a(href="#") Sign Up
							
			.button.login
				i.arrow
				a(href="#") Login
			.close_btn
		.container
			.row
				.col-3.col-sm-2.col-table-3.col-exs-1
					a(href="#" class="logo")
						img(src="img/logo.png")
						.circle
						.now Aware
							span Now
				.col-6
					nav.menu_item
						+nav_menu(menu)
				.col-3.col-sm-2.col-table-3.col-exs-1
					.button_item
						.button.sign
							i.arrow
							a(href="#") Sign Up
							
						.button.login
							i.arrow
							a(href="#") Login
					.popup
	header.head
		.background_head
		.container
			.row
				.col-3.col-table-6
					.social
						h3 Share
						a(href="#")<i class="fa fa-google-plus" aria-hidden="true"></i>
						a(href="#")<i class="fa fa-twitter" aria-hidden="true"></i>
						a(href="#")<i class="fa fa-facebook" aria-hidden="true"></i>
					.rank
						span.bgc_number 4, <br> 5
						.check_rank
							h3 Ranking
							form(action="")
								input(type='radio' id="check_1" name="check_1")
								label(for='check_1')
								input(type='radio' id="check_1" name="check_1")
								label(for='check_2')
								input(type='radio' id="check_1" name="check_1")
								label(for='check_3')
								input(type='radio' id="check_1" name="check_1")
								label(for='check_4')
								input(type='radio' id="check_1" name="check_1")
								label(for='check_5')
							p 236 reviews
				.col-4.col-table-3.col-sm-4.col-exs-2
					.column_2
						h2 Rina G. Singh
						a(href="#" class="coaches") All coaches
						img(src="img/coaches_1.png")
						.link
							p #breate
							p #stressrelief
						.button_show Show all	
				.col-5.col-table-3.col-sm-4.col-exs-2
					article.text_column_3
						h1 Rina G. Singh
						p.about A life coach and meditation guide, Rina G. Singh has served around the world for more than a decade, guiding people as they search for peace, joy, happiness, love, empowerment, and reconnection of the outer world with the internal matrix. She is widely renowned for her personalized methods, designed to work with people regardless of past experiences with spiritual practice and taking into account all of the minute details that come to make up an individual personality.
							span.side_logo Bio
						.button_red Touch me
						.social
							h3 Share
							a(href="#")<i class="fa fa-google-plus" aria-hidden="true"></i>
							a(href="#")<i class="fa fa-twitter" aria-hidden="true"></i>
							a(href="#")<i class="fa fa-facebook"aria-hidden="true"></i>
	section.blog
		h2 Blog
		.section_first
			.container
				.row
					.col-5.phone_none
						.info.info_first
							.bgc_number 0 <br>
								span.bottom 3
							p September
							span.data 12:30 AM
							span.message 32
						
					.col-7.col-sm-4.col-exs-2
						.recent
							h3 Recent
							article.blog_txt
								.info_data 12 nov 2017 12:30 AM
									span.message 32
								h4 A life coach and meditation guide, Rina G. Singh has served around the world for more than a decade
								p A life coach and meditation guide, Rina G. Singh has served around the world for more than a decade, guiding people as they search for peace, joy, happiness, love, empowerment, and reconnection of the outer world with the internal matrix. 
								a(href="#" class="read_more") Read more
			.container
				.row
					.col-5.phone_none
						.info
							span.bgc_number 21
							p October
							span.data 12:30 AM
							span.message 32
					.col-7.col-sm-4.col-exs-2
						.recent
							article.blog_txt
								.info_data 12 nov 2017 12:30 AM
									span.message 32
								h4 She is widely renowned for her personalized methods, designed 
								p A life coach and meditation guide, Rina G. Singh has served around the world for more than a decade, guiding people as they search for peace, joy, happiness, love, empowerment, and reconnection of the outer world with the internal matrix. 
								a(href="#" class="read_more") Read more
			.container
				.row
					.col-5.phone_none
						.info
							span.bgc_number 21
							p October
							span.data 12:30 AM
							span.message 503
					.col-7.col-sm-4.col-exs-2
						.recent
							article.blog_txt
								.info_data 12 nov 2017 12:30 AM
									span.message 32
								h4 Credit Suisse’s gauge jumped 46 percent this month through Tuesday
								p The calm in stocks worldwide is giving way to concern, with investors in Europe and the U.S. rushing to hedge against declines and a Credit Suisse Group AG index flashing a warning as the list of economic and political obstacles grows.
								a(href="#" class="read_more last") Read more
		.side_bar.phone_none
			.popular_section
					h3 Most popular
					article.popular
						h5 A life coach and meditation guide, Rina G. Singh has served around the world for more. 
						.info_data 12 nov 2017 12:30 AM
							span.message 32
					article.popular
						h5 There’s no shortage of potential concerns. Tensions over North Korea’s nuclear program.
						.info_data 12 nov 2017 12:30 AM
							span.message 32
					article.popular
						h5 Нe rally in global equities has stalled in recent weeks amid growing skepticism.
						.info_data 12 nov 2017 12:30 AM
							span.message 503
		a(href="#" class="button_red button_post_none") All posts
	footer.footer_blog
		.container
			.row
				.border_top
				.col-4.table-none
					.logo
						a(href="#" class="logo")
							img(src="img/logo.png")
							.circle
							.now Aware
								span Now
				.col-4.col-table-3.col-sm-4.col-exs-2
					.social Social
						a(href="#")<i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#")<i class="fa fa-twitter" aria-hidden="true"></i>
						a(href="#")<i class="fa fa-instagram" aria-hidden="true"></i>
				.col-4.col-table-3.col-sm-4.col-exs-2
					.link
						span Terms
						span Privacy
						a(href="support@aware.com") support@aware.com

				

		